h4 {
	color: var(--dark-primary-color);
	font-family: var(--secondary-font);
	font-size: var(--font-lg);
	font-style: normal;
	line-height: 140%;
}

/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/
@font-face {
	font-family: "Satoshi";
	src: url("../../assets/fonts/Satoshi-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "ClashDisplay";
	src: url("../../assets/fonts/ClashDisplay-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
