.beginning {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.beginning-content {
	background-color: var(--dark-primary-color);
	padding: 2.25rem 2rem;
}

.beginning-title {
	color: var(--secondary-color);
}

.beginning-desc {
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: 0.875rem;
	line-height: 1.3125rem;
	padding-top: 0.8125rem;
	padding-bottom: 3.5rem;
}

.beginning-btn {
	padding: 1rem 5.375rem;
}

.beginning-btn:hover {
	background-color: var(--primary-color);
}

.beginning-img {
	width: 21.375rem;
	height: 16.1875rem;
}

@media (min-width: 1200px) {
	.beginning {
		padding-top: 2.5rem;
		flex-direction: row;
		gap: 1rem;
	}

	.beginning-content {
		padding: 4rem 4.6875rem;
	}

	.beginning-title {
		font-size: 2rem;
		padding-top: 0.375rem;
	}

	.beginning-desc {
		font-size: 1.125rem;
		line-height: normal;
		padding-top: 1rem;
		padding-bottom: 12.875rem;
	}

	.beginning-btn {
		padding: 1rem 2rem;
	}

	.beginning-img {
		width: 39.375rem;
		height: 29.875rem;
	}
}
