.beginning {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.beginning-content {
	background-color: var(--dark-primary-color);
	padding: 2rem;
}

.beginning-title {
	color: var(--secondary-color);
}

.beginning-desc {
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: 0.875rem;
	line-height: 150%;
	padding-top: 0.7rem;
	padding-bottom: 3.5rem;
}

.beginning-btn {
	padding: 1.2rem 5.8rem;
}

.beginning-btn:hover {
	background-color: var(--primary-color);
}

.beginning-img {
	width: 21.4rem;
	height: 16rem;
}

@media (min-width: 1200px) {
	.beginning {
		padding-top: 2.5rem;
		flex-direction: row;
		gap: 1rem;
	}

	.beginning-content {
		padding: 3.7rem 4.2rem;
	}

	.beginning-title {
		font-size: 2rem;
		padding-top: 0.6rem;
	}

	.beginning-desc {
		font-size: 1.125rem;
		line-height: normal;
		padding-top: 1rem;
		padding-bottom: 13rem;
	}

	.beginning-btn {
		padding: 1rem 2rem;
	}

	.beginning-img {
		width: 39.5rem;
		height: 30rem;
	}
}
