.detail {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-top: 1.5rem;
}

.detail-img {
	width: 100%;
	height: 24rem;
}

.detail-per {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.desc-text {
	margin-top: 1rem;
	margin-bottom: 0.75;
	color: var(--dark-primary-color);
	font-size: var(--font-xs);
	font-family: var(--primary-font);
	line-height: 150%;
}

.desc-list {
	list-style: disc;
	margin-left: 1.3rem;
	margin-bottom: 2rem;
}

.desc-item {
	color: var(--dark-primary-color);
	font-family: var(--primary-font);
	font-size: var(--font-xs);
	line-height: 150%;
}

.desc-button {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.dimension-text {
	color: var(--dark-primary-color);
	font-family: var(--secondary-font);
	font-size: var(--font-xs);
	line-height: 140%;
}

.dimension-text:nth-child(2),
.dimension-number:nth-child(2) {
	padding: 1rem 6.5rem 0;
}

.dimension-number {
	color: var(--dark-primary-color);
	font-family: var(--primary-font);
	font-size: var(--font-xs);
	line-height: 150%;
}

.decrement,
.increment {
	color: var(--Border-Dark, #cac6da);
	font-family: var(--primary-font);
	line-height: normal;
}

.desc-quantity {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.quantity {
	width: 1rem;
	text-align: center;
	border: none;
	color: var(--dark-primary-color);
	font-family: var(--primary-font);
	line-height: normal;
}

.detail-btn {
	display: flex;
	justify-content: center;
}

@media (min-width: 1200px) {
	.detail {
		flex-direction: row;
		gap: 6rem;
	}

	.detail-img {
		width: 45rem;
		height: 47rem;
	}

	.detail-content {
		margin-top: 5.6rem;
	}

	.detail-title {
		font-size: var(--font-3xl);
		line-height: normal;
	}

	.detail-per {
		margin-bottom: 3.5rem;
		font-size: var(--font-xl);
		line-height: normal;
	}

	.desc-text {
		margin-top: 1rem;
		margin-bottom: 1.25rem;
		padding-right: 6.7rem;
		font-size: var(--font-sm);
		line-height: normal;
	}

	.desc-item {
		font-size: var(--font-sm);
		line-height: normal;
	}

	.desc-list {
		margin-left: 1.5rem;
		margin-bottom: 3.25rem;
	}

	.dimension-text:nth-child(2),
	.dimension-number:nth-child(2) {
		padding: 1.4rem 3.6rem 0;
	}

	.dimension-number {
		font-size: var(--font-sm);
		line-height: normal;
	}

	.desc-quantity {
		display: flex;
		align-items: center;
	}

	.desc-button {
		padding: 0 11rem 0 2.4rem;
	}
}
