.cart-title {
	margin-top: 2.25rem;
	margin-bottom: 1.25rem;
}

.cart-line {
	margin-bottom: 1rem;
	height: 1px;
	background: #EBE8F4;
}

.thead{
	display: none;
}

.tbody-total {
	display: none;
}

.tbody-stepper {
	display: none;
}

.cart-table {
	display: flex;
	gap: 1.5rem;
}

.cart-img {
	width: 8rem;
	height: 10rem;
	margin-bottom: 1.75rem;
}

.cart-content {
	display: flex;
	flex-direction: row;
	gap: 1.4rem;
	margin-right: 13rem;
}

.cart-desc {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: var(--dark-primary-color);
	font-family: var(--primary-font);
	font-size: var(--font-xs);
	line-height: 150%;
}

.cart-per {
	color: var(--dark-primary-color);
	font-family: var(--primary-font);
	line-height: 150%;
}

.cart-total {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.cart-note {
	margin-top: 0.8rem;
	margin-bottom: 2.2rem;
	color: var(--primary-color);
	text-align: right;
	font-family: var(--primary-font);
	font-size: var(--font-xs);
	line-height: 150%;
}

@media (min-width: 1200px) {
	.shopping-cart {
		padding: 0 7rem;
	}

	.cart-wrapper {
		display: flex;
	}

	.cart-content{
		margin: 0;
	}

	.cart-title {
		margin-top: 4rem;
		margin-bottom: 1.8rem;
		font-size: var(--font-3xl);
	}

	.thead{
		display: revert;
	}

	.cart-table th:nth-child(2) {
		padding-left: 37rem;
		padding-right: 20rem;
	}

	.thead-text {
		color: var(--dark-primary-color);
		font-family: var(--secondary-font);
		font-size: var(--font-xs);
		line-height: 140%;
		text-align: left;
		padding-bottom: 2rem;
	}

	.tbody-total {
		display: revert;
		padding-top: 1rem;
    padding-left: 15rem;
	}

	.tbody-stepper {
		display: revert;
		padding-left: 15rem;
	}

	.stepper-mobile {
		display: none;
	}

	.cart-img {
		width: 7rem;
		height: 8rem;
		margin-bottom: 1.3rem;
	}

	.cart-text {
		margin-top: 0.8rem;
		font-size: var(--font-lg);
		line-height: 140%;
	}

	.cart-desc {
		width: 60%;
		margin-top: 0.5rem;
	}

	.cart-per {
		font-size: var(--font-sm);
	}

	.cart-total {
		margin-top: 2rem;
	}

	.cart-note {
		margin-bottom: 1rem;
	}

	.cart-btn {
		display: flex;
		justify-content: end;
	}
}
