:root {
	--primary-font: "Satoshi";
	--secondary-font: "ClashDisplay";

	--primary-color: #4e4d93;
	--dark-primary-color: #2a254b;
	--secondary-color: #fff;
	--logo-color: #22202e;
	--categories-color: #726e8d;
	--light-grey: #f9f9f9;
}
