:root {
	--primary-font: "Satoshi";
	--secondary-font: "ClashDisplay";

	--font-xs: 14px;
	--font-sm: 16px;
	--font-md: 18px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-2xl: 32px;

	--primary-color: #4e4d93;
	--dark-primary-color: #2a254b;
	--secondary-color: #fff;
	--logo-color: #22202e;
	--categories-color: #726e8d;
	--light-grey: #f9f9f9;
}
