.stepper {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.decrement, .increment{
	background-color: var(--secondary-color);
	border: none;
	color:#CAC6DA;
	font-family: var(--primary-font);
	font-size: 1rem;
	line-height: normal;
	cursor: pointer;
}

.quantity {
	width: 1rem;
	border: none;
	color: var(--dark-primary-color);
	font-size: 1rem;
	font-family: var(--primary-font);
	line-height: normal;
	text-align: center;
}

.decrement:hover, .increment:hover {
	color:var(--dark-primary-color);
}
