.main-header {
	margin: 0 auto;
	width: 88%;
}

.top-nav {
	margin-top: 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-search {
	cursor: pointer;
}

.search-icon {
	position: absolute;
	right: 3.5rem;
	transition: 0.5s ease-in-out;
}

.search-icon.active {
	right: 0;
}

.close-icon {
	position: absolute;
	top: 1.3rem;
	right: 1.3rem;
	z-index: 1;
	display: none;
	transform: 0.5s;
	scale: 0;
}

.close-icon.active {
	display: block;
	scale: 1;
}

.search-box {
	opacity: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	transition: 0.5s ease-in-out;
	width: 100%;
	align-items: center;
}

.search-box.active {
	opacity: 1;
	height: auto;
}

.search-input {
	width: 96%;
	height: 3rem;
	outline: none;
	color: var(--dark-primary-color);
	font-size: var(--font-sm);
	font-family: var(--primary-font);
	border: none;
	border-bottom: 1px solid var(--dark-primary-color);
}

.nav-text {
	color: var(--logo-color);
	font-family: var(--secondary-font);
	font-size: var(--font-xl);
	cursor: pointer;
}

.menu-icon {
	position: absolute;
	right: 1.25rem;
	top: 1.44rem;
	cursor: pointer;
}

.cart-number {
	display: none;
}

.cart-icon,
.avatar-icon {
	display: none;
	cursor: pointer;
}

header.open .menu-toggle {
	position: absolute;
	right: 12px;
	display: flex;
	gap: 12px;
	padding: 1.4rem;
	background-color: var(--light-grey);
	transition: 0.5s ease-in-out;
}

header.open .cart-number {
	display: block;
	position: absolute;
	top: 12px;
	right: 45px;
	color: var(--dark-primary-color);
	font-size: var(--font-xs);
}

header.open .avatar-icon,
header.open .cart-icon {
	display: block;
}

.list-categories {
	display: none;
}

@media (min-width: 1200px) {
	.main-header {
		width: 96%;
	}

	.top-nav {
		display: flex;
		justify-content: space-between;
	}

	.search-icon {
		position: static;
	}

	.nav-menu {
		gap: 1rem;
	}

	.menu-icon {
		display: none;
	}

	.menu-toggle {
		display: flex;
		gap: 1rem;
	}

	.cart-number {
		position: absolute;
		top: 12px;
		right: 55px;
		display: block;
		color: var(--dark-primary-color);
		font-size: var(--font-xs);
	}

	.cart-icon,
	.avatar-icon {
		display: block;
	}

	.list-categories {
		display: flex;
		justify-content: center;
		gap: 2.75rem;
		margin-top: 2.9rem;
	}

	.item-categories {
		text-decoration: none;
		color: var(--categories-color);
		font-family: var(--primary-font);
	}

	.item-categories:hover {
		color: var(--dark-primary-color);
	}
}
